.dark-theme {
    --text: #ddd;
    --bg: #39393f;
    --btnBg: #40444b;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: helvetica, sans-serif;
}

.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--text);
    background-color: var(--btnBg);
}

.spells {
    display: inline-flex;
    flex-direction: column;
    /*row-gap: -;*/
    justify-content: space-around;
    /*border: 1px solid green;*/
}

.advancedSearch {
    display: inline-flex;
    justify-content: space-around;
}

input[type=text] {
    color: inherit;
    background-color: var(--btnBg);
    box-shadow: none;
    border-style: hidden;
    width: 99.5%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 6px;
}

select {
    color: inherit;
    vertical-align: center;
    background-color: var(--btnBg);
    margin: 0px 6px;
    border: none;
    border-radius: 4px;
    padding: 0px 2px;
}

p {
    vertical-align: center;
    border: inherit;
    flex: 1;
    margin: 2px;
}

h1 {
    /* u r d l */
    margin: 10px 0 4px 0;
    border: inherit;
}

h3 {
    margin: 4px;
    border: inherit;
}

hr {
    border-color: #999;
    margin: 5px;
    width: 99%;
}

.btn-active {
    color: var(--text);
    background-color: var(--bg);
    border: none;
    border-radius: 3px;
    margin: 0;
    padding: 0 1px;
}

.btn-inactive {
    color: #888;
    background-color: var(--bg);
    border: none;
    border-radius: 3px;
    margin: 0;
    padding: 0 1px;
}